@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400,500,600,700');
body {
    color: white;
    padding: 0;
    margin: 0;
    line-height: 24px;
    letter-spacing: 1px;
    overflow-x: hidden;
}

html * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fullwidth {
    width: 100%;
    height: 100vh;
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

.home {
    padding: 0 0 0 300px !important;
}

.title {
    font-size: 56px;
    font-weight: 600;
}

.container {
    padding: 5% 2% 5% 5%;
    font-family: 'Lato', sans-serif;
}

.subtitle {
    margin: 2% 0 0 0.5%;
    font-size: 20px;
}

.container > div > p {
    font-family: 'Raleway', cursive;
    max-width: 500px;
    color: #ddd;
}

.img-container {
    display: inline-block;
}

.img-container > img {
    max-width: 400px;
    width: 85%;
    margin-left: 20%;
}

a {
    text-decoration: none;
    color: inherit;
}

.dl-btns {
    margin-top: 5%;
}

.download-btn-filled {
    margin: 0 15px 0 0;
    background-color: #835291;
    border: 2px solid #835291;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    width: 145px;
    display: inline-block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: .3s all ease-in-out;
}

.download-btn:hover,
.download-btn-filled:hover {
    opacity: 0.7;
}

.download-btn-filled > i {
    display: inline;
    margin-right: 5px;
}

a:hover {
    color: white;
}

.arrow-container {
    display: block;
    font-size: 50px;
    text-align: center;
    margin: 20vh 0 0 0;
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: all ease-in-out;
}

.arrow-container > i {
    margin-left: -300px;
}

@keyframes upDown {
    0% {
        margin: 20vh 0 0 0;
    }
    50% {
        margin: 19vh 0 0 0;
    }
    100% {
        margin: 20vh 0 0 0;
    }
}

.features-title {
    color: inherit;
    padding: 0 0 5px 20px;
    font-family: 'Raleway', sans-serif;
}

.features {
    text-align: left;
    padding: 0 0 0 100px;
    width: auto !important;
}

.features-desc {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    color: #ddd;
}

.textbox {
    display: inline-block;
    width: 40%;
    margin-right: 5%;
    vertical-align: top;
}

.imgbox {
    display: inline-block;
    vertical-align: middle;
}

.features-img {
    border-radius: 5px;
    filter: opacity(0.6);
    transition: .6s all ease-in-out;
    width: 80%;
    display: inline-block;
    max-width: 530px;
}

.features-img:hover {
    filter: none;
}

.foot {
    background-color: #301C34;
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: block;
    position: static;
}

.links {
    display: inline-block;
}

#version,
#date {
    color: #ddd;
    margin-top: 20px;
    margin-left: 10px;
    opacity: 0.7;
    display: inline-block;
}

#date {
    margin-left: 10px;
}

.links > a {
    font-family: 'Raleway', cursive;
    display: inline;
    margin: 5px 5px 5px 5px;
}

.links > a:hover {
    text-decoration: underline;
}

.foot > a > i {
    font-size: 32px;
}

.foot > a {
    float: right;
    margin-right: 3%;
    padding: 0 10px 0 10px;
}

.scrollTop-wrapper {
    position: fixed;
    text-align: center;
    bottom: 5%;
    padding: 20px 25px 20px 25px;
    right: 5%;
    font-size: 32px;
    background-color: #301C34;
    opacity: 0.7;
    border-radius: 50%;
}

@media screen and (max-width: 1280px){
    .home {
        padding: 0 0 0 0 !important;
    }
    .arrow-container > i {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 750px){
    .arrow-container > i {
        margin-left: 0 !important;
    }
    body {
        width: 100%;
    }
    .title {
        font-size: 32px;
    }
    .img-container > img {
        display: none;
    }
    .subtitle {
        font-size: 16px;
        margin-top: 5%;
    }
    .download-btn-filled {
        width: 70px;
        font-size: 10px;
        padding: 0;
    }
    .download-btn-filled > i {
        font-size: 7px;
        margin-right: 2px;
    }
    .features {
        text-align: center;
        padding: 0;
    }
    .features-img {
        min-width: 80px;
        width: 80%;
    }
    .features-title {
        font-size: 20px;
        padding: 10px 10px 10px 10px;
    }
    .features-desc {
        font-size: 16px;
        padding: 10px 10px 10px 10px;
    }
    .textbox {
        width: auto;
    }
    .foot {
        padding: 20px 20px 30px 20px;
    }
    .foot > a > i {
        font-size: 32px;
        margin-top: -20px;
    }
}

#faq {
    font-size: 32px;
}
